<h1 class="text-primary">{{ .title }}</h1>
<hr class="border-hover">
  {{ range .items }}
    <details id="{{ .id }}">
      <summary class="cursor-pointer flex transitionable hover:opacity-50">
        <h3>{{ .title }}</h3>
      </summary>
      <div class="ml-2 flex flex-col gap-2 tracking-wider border border-hover p-2 rounded-lg mb-2">
        {{ if .description1 }}
          <p>
            {{ .description1 }}
          </p>
        {{ end }}
        {{ if .description2 }}
          <p>
            {{ .description2 }}
          </p>
        {{ end }}
        {{ if .image }}
          <div class="w-full flex">
            <img loading="lazy" class="sm:w-1/2" src="{{ .image }}" alt="{{ .title }}">
            <p class="hidden text-4xl sm:flex justify-center items-center p-10 text-center font-brand w-full sm:ml-2">
              {{ .imageDescription }}
            </p>
          </div>
        {{ end}}
      </div>
    </details>
  {{ end }}
<br>