<header
  id="header"
  class="sticky overflow-hidden flex flex-col sm:flex-row items-center justify-center p-5 lg:p-10 border-b-2 dark:border-hover sm:h-24 z-10 top-0 left-0 bg-light dark:bg-dark w-screen sm:w-auto sm:items-center"
>
  <nav id="navbar" class="relative container flex justify-between gap-y-20">
    <a href="/" class="dark:text-light text-3xl font-brand">H U G O | B</a>
    <ul id="menu" class="sm:gap-x-3 lg:gap-x-5 hidden sm:flex z-20 sm:items-center gap-y-5">
      <li>
        <a
          href="/"
          class="underline-animation {{ if .IsHome }}text-tertiary dark:text-secondary pointer-events-none{{ end }}"
          >Home</a
        >
      </li>
      <li>
        <a
          href="/career"
          class='underline-animation {{ if eq .RelPermalink "/career/" }}text-tertiary dark:text-secondary pointer-events-none{{ end }}'
          >Career</a
        >
      </li>
      <li>
        <a
          href="/projects"
          class='underline-animation {{ if eq .RelPermalink "/projects/" }}text-tertiary dark:text-secondary pointer-events-none{{ end }}'
          >Projects</a
        >
      </li>
      <li>
        <a
          href="/certificates"
          class='underline-animation {{ if eq .RelPermalink "/certificates/" }}text-tertiary dark:text-secondary pointer-events-none{{ end }}'
          >Certificates</a
        >
      </li>
      <li>
        <button
          class="rounded-full w-10 cursor-pointer hover:bg-hover dark:hover:bg-hover"
          onclick="toggleDarkMode()"
          title="Toggle dark mode"
        >
          <img class="hidden dark:block p-2" src="/icons/dark.svg" alt="dark mode" />
          <img class="dark:hidden p-2" src="/icons/light.svg" alt="light mode" />
        </button>
      </li>
    </ul>
    <button
      id="burguer-icon"
      class="sm:hidden rounded-full w-10 cursor-pointer hover:bg-hover dark:hover:bg-hover"
      onclick="toggleMenu()"
      title="Toggle menu"
    >
      <img
        class="sm:hidden p-2"
        src="/icons/burguer-menu.svg"
        alt="burguer-icon"
      />
    </button>
    <button
      id="close-icon"
      class="hidden rounded-full absolute top-0 right-0 w-10 cursor-pointer hover:bg-hover dark:hover:bg-hover"
      onclick="toggleMenu()"
      title="Toggle menu"
    >
      <img
        class="p-2"
        src="/icons/close.svg"
        alt="close-icon"
      />
    </button>
  </nav>
</header>
